# Created with help of 
# https://nathan.kewley.me/2020-06-17-deploy-to-azure-using-terraform-and-github-actions/ #Secrets
# https://www.blendmastersoftware.com/blog/deploying-to-azure-using-terraform-and-github-actions #General usage 
name: 'Terraform Validate and plan'

on:
  push:
    branches:
    - master
  pull_request:

env:
  TF_WORKSPACE: gha

jobs:
  terraform:
    name: 'Terraform Validate and plan'
    runs-on: ubuntu-latest
    
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    # Install the latest version of Terraform CLI. Enable wrapper for output
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: true

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      id: init
      run: terraform init
      
    # Validate config files 
    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      
    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      id: fmt
      run: terraform fmt -recursive -check -list=true
      #continue-on-error: true

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      id: plan
      run: terraform plan
      #continue-on-error: true
      
    # TODO
    # Make a better output
    #- run: echo ${{ steps.plan.outputs.stdout }}
    #- run: echo ${{ steps.plan.outputs.stderr }}
    #- run: echo ${{ steps.plan.outputs.exitcode }}
